html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	position:relative;
}
#map_global{
	position:relative;
	height:100%;
	width:auto;
	overflow:hidden;
}
#detail_sup{
	box-sizing: border-box;
	float:right;
	height:100%;
	max-width:50%;
	border-left:solid 1px black;
	background-color:lightgray;
	padding:10px;
	font-family:arial;
	display:none;
	flex-direction:row;
}
#map_canvas {
	z-index:1;
	height:100%;
	width:100%;
	position:absolute;
}
#controle_left{
	z-index:2;
	position:absolute;
	left:0px;
	max-height:100%;
	min-width:210px;
	max-width:230px;
	overflow:auto;
	font-family:arial;
	font-size:14px;
}
#controle_right{
	z-index:2;
	position:absolute;
	right:0px;
	min-width:190px;
	max-height:100%;
	overflow:auto;
	font-family:arial;
	font-size:14px;
}
.box_left{
	border:solid 1px black;
	background-color:lightgray;
	padding:1px;
	margin:10px;
}
.box_right{
	border:solid 1px black;
	background-color:lightgray;
	padding:1px;
	margin:10px;
}
#status{
	padding:0px;
}
#aff_restreint{
	font-size:16px;
	font-weight:bold;
}
#credits{
	z-index:2;
	position:absolute;
	margin-left:240px;
	margin-top:10px;
	width:300px;
	border:solid 1px black;
	background-color:white;
	padding:5px;
	display:none;
	font-family:arial;
	font-size:15px;
}
#choix_zone{
	z-index:2;
	position:absolute;
	margin-left:240px;
	margin-top:10px;
	width:300px;
	border:solid 1px black;
	background-color:white;
	padding:5px;
	display:none;
	font-family:arial;
	font-size:15px;
}
.img_click{
	vertical-align:middle;
	cursor:pointer;
}
.clickable{
	cursor:pointer;
}
.tab_col{
	width:100%;
	border-collapse:collapse;
}
.tab_col_sub{
	width:90%;
	border-collapse:collapse;
	margin-left:auto;
}
.tab_cache{
	display:none;
}
.check_cell{
	width:1px;
}
.ligne_plus{
	height:20px;
	text-align:center;
	padding-top:3px;
	padding-bottom:3px;
}
.ligne_simple{
	text-align:center;
	padding-top:1px;
	padding-bottom:1px;
}
.radio_limit{
	width:1px;
}
.toggle{
	text-align:center;
	font-weight:bold;
	cursor:pointer;
	width:15px;
}
.champ_recherche{
	margin-left:5px;
	width:120px;
}
#leg_autres{
	color:#339933;
}
.p_link{
	margin-left:10px;
	margin-right:10px;
}
.p_div_globale{
	min-width:160px;
}
.p_div{
	margin-bottom:6px;
	width:100%;
}
.p_titre{
	font-size:12px;
	text-align:center;
	font-weight:bold;
	margin-bottom:2px;
}
.p_adresse{
	font-size:11px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.p_num_sup{
	margin-top:6px;
	padding-left:10px;
	font-size:10px;
	text-align:left;
}
.t_ant{
	border-collapse:collapse;
	width:100%;
	font-size:11px;
}
.td_num{
	text-align:right;
	padding-left:4px;
	white-space:nowrap;
}
.td_syst{
	text-align:left;
	white-space:nowrap;
}
.p_photo_sup{
	margin-bottom:5px;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
	display:none;
}
#d_sup{
	height:100%;
	width:350px;
	float:right;
	padding:2px;
	display:flex;
	flex-direction:column;
	flex:none;
}
#d_header{
	margin-bottom:10px;
	text-align:right;
	flex:none;
}
#d_descr{
	border:solid 1px black;
	display:flex;
	flex-direction:column;
	flex-shrink:1;
	flex-grow:0;
	min-height:1px;
}
#d_titre{
	flex:none;
}
#d_adresse{
	flex:none;
}
#d_ant{
	margin-top:6px;
	overflow:auto;
	flex-shrink:1;
	flex-grow:0;
	min-height:1px;
}
#d_num_sup{
	flex:none;
}
#photo_large{
	box-sizing:border-box;
	border:solid 1px black;
	max-height:100%;
	max-width:100%;
}
#div_photo_large{
	height:100%;
	min-width:1px;
	margin-right:10px;
	flex-shrink:1;
	flex-grow:1;
}
#d_img_close{
	margin-left:10px;
}

.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: center;
	border-radius: 7px;
}
.leaflet-popup-content {
	margin: 10px 10px;
	line-height: 1.2;
}